/* google font added */

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

/* shared style */

.development-section-container .development-1,
.development-3 {
  display: flex;
  margin-bottom: 60px;
  justify-content: space-between;
  gap: 90px;
}

.development-2 {
  display: flex;
  gap: 32px;
  margin-bottom: 60px;
}
/* nav related style */
.nav-container {
  width: 78%;
  max-width: 1124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
}

.nav-container h3 {
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
}

.nav-container .btn-primary {
  border: 1px solid black;
  padding: 15px 20px;
  border-radius: 8px;
  opacity: 0.8;
  background-color: white;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

/* banner */
.banner-container {
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px dashed gainsboro;
  border-bottom: 1px dashed gainsboro;
  margin-bottom: 100px;
}

.banner-container .content-container {
  width: 69%;
  max-width: 998px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}

.banner-container .content-container * {
  margin-bottom: 24px;
}

.banner-container .content-container .content img {
  width: 100%;
  max-width: 173px;
}

.banner-container .content-container .content h1 {
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  font-size: 40px;
}

.banner-container .content-container .content p {
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  font-size: 18px;
}

.banner-container .content-container .content button {
  background-color: #0d1321;
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  padding: 16px 20px;
  border-radius: 8px;
  border: none;
}

/* development */

.development-section-container {
  width: 65.69%;
  max-width: 946px;
  margin: 0 auto;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  padding: 50px 60px;
  margin-bottom: 90px;
}

.development-section-container .development-heading {
  margin-bottom: 40px;
  text-align: center;
}

.development-section-container .development-heading p {
  margin-top: 18px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.text p {
  color: rgb(143, 139, 139);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.development-2 {
  background: linear-gradient(
    to left,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  padding: 32px;
  border-radius: 8px;
}

.development-1,
.development-3 {
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  padding: 32px;
  border-radius: 8px;
}

.image img {
  width: 100%;
  max-width: 260px;
}

.text {
  width: 65%;
  max-width: 310px;
}

.development-1 h3,
.development-2 h3,
.development-3 h3 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.development-1 .text *,
.development-2 .text *,
.development-3 .text * {
  margin-bottom: 16px;
}

.text button {
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 10px 15px;
  background-color: white;
  color: rgb(13, 19, 33);
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
